* {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* start cover*/
.cover-preview {
    max-height: 600px !important;
    border-radius: 8px !important;
}

/* end cover*/
/* start cover*/
.images-preview {
    max-height: 500px;
    border-radius: 8px;
}

/* end cover*/

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
/* Start Override SweetAlert2 */
.swal2-title, .swal2-html-container {
    color: #fff !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background: #1a0933;
}


/* End Override SweetAlert2 */
/* start galerry style*/
.cover-preview {
    max-height: 300px; /* متوسط */
    object-fit: cover;
}

/* صور الجاليري */
.images-preview-card img {
    height: 180px; /* متوسط */
    object-fit: cover;
}

/*end style galery */